//±í¸ñ
.table-list{margin:10px;}
.delModal .ant-modal-body{margin-left: 20px;}
.addOrEdit{margin-left: 30px;}
.addOrEdit .ant-row{margin-bottom: 10px;}
.addOrEdit .ant-row div:first-child{line-height: 30px;}
.lineHeight30{line-height: 30px;}
