//ÈÕÀú¿Ø¼þ
  .cam-calendar-wrapper{position: absolute; z-index: 9999; top: 45px;left: -170px;
    .pa_date{cursor: pointer;}
    .cam-calendar{position: relative;padding: 10px;background: #f4f4f4; border-radius: 5px;box-shadow: 1px 1px 7px 0px #888888;}
    .cam-calendar-pointer{position: absolute;z-index: 1000;left: 350px; top: -12px; border: 6px solid transparent; border-bottom-color: #f4f4f4;}
    .cam-calendar-list{border: 1px solid #d9d9da;background: #fff;}
    .cam-calendar-s{padding: 10px 14px;float: left;overflow: hidden;border-right: 1px solid #d9d9da;}
    .cam-calendar-s-title{position: relative;height: 20px;border: 1px solid #dadada;color: #666666;line-height: 20px;
      background-color: #f5f6f6;font-weight: bold;font-size: 14px;}
    .cam-calendar-year{text-align: center;}
    .icon-next-ctrl, .icon-prev-ctrl {display: inline-block;height: 20px;width: 12px;background: url(/image/calendar.png) no-repeat; cursor: pointer;}
    .cam-calendar-ctrl-prev, .date-list .prev-ctrl {border-right: 1px solid #dadada;}
    .icon-prev-ctrl {background-position: 3px 6px;}
    .cam-calendar-ctrl-next {border-left: 1px solid #dadada;}
    .cam-calendar-ctrl-prev, .cam-calendar-ctrl-next {position: absolute; top: 0px;}
    .icon-next-ctrl {background-position: -36px 6px;right: 0;}
    //.cam-calendar-type-month ul, .cam-calendar-type-halfmonth ul.month-list { width: 172px;}
    .cam-calendar-type-month ul li.clickable, .cam-calendar-normal .cam-calendar-s ul li {color: #5f5d5d;cursor: pointer;background: #f5f6f6;font-family: Arial;}
    //.cam-calendar-type-month ul li {width: 40px;margin: 10px 3px 0px 0;float: left;text-align: center; color: #ccc;background: #f9f9f9;}
    .cam-calendar-type-month ul li {height: 30px;width: 40px;margin: 10px 3px 0px 0;float: left;line-height: 30px;text-align: center; color: #ccc;background: #f9f9f9;}
    .cam-calendar-type-month ul li.active{color: #FFF;background: #999999;}
    .cam-addBtn a, .btn-calendar {display: inline-block;
      //background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAIAAAC0rgCNAAAAGXRFW¡­z5MxMDAwMTOgCJ/f//H4z//fsHxzAxmDg2GooZfv78CRBgANjVNcfB+nLXAAAAAElFTkSuQmCC) repeat-x left top;
      width: 78px;margin: 10px auto;height: 24px;line-height: 24px;background-color: #fff;border: 1px solid #cbcbcb;
      cursor: pointer;color: #333;text-align: center;font-weight: bold;
    }
    .cam-selected {height: 60px;background: white;border: 1px solid #d9d9da;
      text-align: left;padding: 5px;}
    .cam-selected a {display: inline-block;height: 26px;line-height: 26px;border: 1px solid #d9d9da;
      margin-left: 5px;margin-bottom: 5px;padding: 0 6px 0 5px;color: #333;}
    .cam-selected a b {width: 11px;height: 11px;display: block;
      float: right;background: url(/image/selModels.png) no-repeat -44px top;
      margin-left: 8px;margin-top: 8px;}
    .cam-calendar-bottom {text-align: right;}

    .cam-addBtn a, .btn-calendar {display: inline-block;
      //background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAIAAAC0rgCNAAAAGXRFW¡­z5MxMDAwMTOgCJ/f//H4z//fsHxzAxmDg2GooZfv78CRBgANjVNcfB+nLXAAAAAElFTkSuQmCC) repeat-x left top;
      width: 78px;margin: 10px auto;height: 24px;
      line-height: 24px;background-color: #fff;border: 1px solid #cbcbcb;cursor: pointer;color: #333;text-align: center;
    }
    .cam-addBtn a{position: relative;left: 40%;}
    .btn-calendar{font-weight: bold;margin-left: 15px;}
  }
