.mui-popover {
	height: 300px;
}

.mui-btn-outlined.mui-btn-primary {
	color: black;
}

#ui-nav{
	margin-top: 15px;
	margin-bottom: 10px;
	background: #fff;
}

.condition-area .flex-item {
	margin-right: 5px;
	width: 30%;
	margin-left: 5px;
}

.condition-area .flex-item:nth-child(4){width:47%;}
.condition-area .flex-item:last-child{width:46%;}

.condition-area a {
	padding: 5px 0px;
	border: none;
	background: #efeff4;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: initial;
}
.condition-ul .selected{color:#007aff};

.condition-area .selected{background: #999 !important;color: white !important;}
.field-ul{margin-top: 15px;}
.noLimitSelected{color: #007aff;}
